.topic-page-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
  }
  
  .topic-page-container h1:first-of-type {
    font-size: 24px;
    font-weight: bold;
  }
  
  .topic-page-container h1:last-of-type {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .comment-container {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .comment-container:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .comment-container h2 {
    font-size: 16px;
    font-weight: bold;
  }
  
  .comment-container p {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .pagination {
    display: flex;
    list-style: none;
    margin: 20px 0;
    padding: 0;
    justify-content: center;
  }
  
  .pagination li {
    margin: 0 10px;
  }
  
  .pagination button {
    border: 1px solid #ccc;
    background-color: grey;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #ccc;
  }